<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Greenfox Store</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>
</head>

<body>
<h1>Greenfox Fashion Store</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Category</th>
        <th scope="col">Size</th>
        <th scope="col">Amount</th>
        <th scope="col"><b>Total Price</b></th>
    </tr>
    </thead>
    <tbody>
    <th scope="row"></th>
    <tr>
        <td th:text="${item.getItemName()}"></td>
        <td th:text="${item.getManufacturer()}"></td>
        <td th:text="${item.getCategory()}"></td>
        <td th:text="${size}"></td>
        <td th:text="${amount}"></td>
        <td th:text="${totalPrice}"></td>
    </tr>
    </tbody>
</table>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
</body>
</html>