<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/">INFO</a></li>
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/nutrition_store">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trick_center">Trick Center</a></li>
</ul>
<p></p>

<img src="https://avatars0.githubusercontent.com/u/19145766?s=200&v=4" alt="avatars0.githubusercontent.com">
<p th:text="'This is ' + ${foxname} + ' living on ' + ${food} + ' and '+ ${drink} +'. He knows 2 tricks.'"></p>
<h1> Tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>


</body>
</html>