<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<ul>
    <li><a href="http://localhost:8080/">INFO</a></li>
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/nutrition_store">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trick_center">Trick Center</a></li>
</ul>

<h1>Welcome to Fox Club!!</h1>
<p>Please enter a name so you can associate to your pet!</p>

<form action="#" th:action="@{/login}" method="post">
    <label for="name">User name:</label>
    <input type="text" id="name" name="foxname" />
    <input type="submit" value="Login" />
</form>

</body>
</html>