<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<ul>
    <li><a href="http://localhost:8080/">INFO</a></li>
    <li><a href="http://localhost:8080/login">Login</a></li>
    <li><a href="http://localhost:8080/nutrition_store">Nutrition Store</a></li>
    <li><a href="http://localhost:8080/trick_center">Trick Center</a></li>
</ul>

<form>
    Fav food:<br>
    <input type="text" name="food"><br>
    Fav Drink:<br>
    <input type="text" name="drink"><br>
    <input type="submit" value="Submit">
</form >



</body>
</html>