<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />

    <style>
    </style>
</head>
<body>

<h1>List of todo's</h1>
<div class="container-fluid">

    <div class=" = row">
        <div class="= col-md-3">ID</div>
        <div class="= col-md-3">TAAAAASSSSK Isssss here</div>
        <div class="= col-md-3">done</div>
        <div class="= col-md-3">urgnt</div>
    </div>

</div>



<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Done</th>
    <th>Urgent</th>
</tr>

<tr th:each="todo: ${todos}">
    <td th:text="${todo.getId()}"></td>
    <td th:text="${todo.getTitle()}"></td>
    <td th:text="${todo.isDone()}"></td>
    <td th:text="${todo.isUrgent()}"></td>
</tr>


<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>