
div{
    padding-top: 50px;
    padding-right: 10%;
    padding-bottom: 50px;
    padding-left: 10%;
    margin: auto;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

i{
    float: left;
    color:red
}
li {
    float: right;
}

li a {
    display: block;
    color: #ff0099;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111;
}

h1,h2,h4,main{
    font-family: 'Amatic SC', cursive;
}

body{
    font-family: consolas, courier;
    background-image: Url(topography.png)
}
header{
    background-color:#333333
}
h1 {
    font-size: 80px;
}

h2 {
    color: #ff0099;
    font-size: 50px;
}

main{
    font-size: 33px;
}
h4{
    font-size: 66px;
}
separator{
    font-size: 100px;
    color: grey
}