<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Report</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>
</head>

<body>

<h1>Reports</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Reporter</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Serialnuber</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <th scope="row"></th>
    <tr th:each="ticket: ${tickets}" th:object="${ticket}">
        <td th:text="*{id}"></td>
        <td th:text="${ticket.getReporter()}"></td>
        <td th:text="${ticket.getManufacturer()}"></td>
        <td th:text="${ticket.getSerialNumber()}"></td>
        <td th:text="${ticket.getDescription()}"></td>
        <td th:text="${ticket.getReportedAt()}"></td>
    </tr>
    </tbody>
</table>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>
</body>
</html>