<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tourist Guiede</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>
</head>

<body>

<h1>Tourist Guide</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Longitude</th>
        <th scope="col">Lattitude</th>
        <th scope="col">Reccomenden Age</th>
        <th scope="col">Duration</th>
    </tr>
    </thead>
    <tbody>
    <th scope="row"></th>
    <tr th:each="attr: ${attractions}">
        <td th:text="${attr.getId()}"></td>
        <td th:text="${attr.getAttrName()}"></td>
        <td th:text="${attr.getCity()}"></td>
        <td th:text="${attr.getCategory()}"></td>
        <td th:text="${attr.getPrice()}"></td>
        <td th:text="${attr.getLongitude()}"></td>
        <td th:text="${attr.getLattitude()}"></td>
        <td th:text="${attr.getReccomendedAge()}"></td>
        <td th:text="${attr.getDuration()}"></td>
    </tr>
    </tbody>
</table>

<h2>Add Attraction</h2>

<form action="#" th:action="@{'/add'}" th:object ="${attraction}" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
    </div>
    <div class="form-group">
        <label for="duration">duration</label>
        <input type="text" class="form-control" id="duration">
    </div>
    <div class="form-group">
        <label for="lattitude">Lattitude</label>
        <input type="text" class="form-control" id="lattitude">
    </div>
    <div class="form-group">
        <label for="longitude">Longitude</label>
        <input type="text" class="form-control" id="longitude">
    </div>
    <div class="form-group">
        <label for="price">price</label>
        <input type="text" class="form-control" id="price">
    </div>
    <div class="form-group">
        <label for="reccomendedAge">Reccomended Age</label>
        <input type="text" class="form-control" id="reccomendedAge">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>