<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit app #</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>


    <style>

    </style>

</head>


<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Reddit</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/reddit/">Trending posts</a></li>
            <li class="active"><a href="/reddit/add_post">Add new post</a></li>
        </ul>
    </div>
</nav>


<form action="#" th:action="@{/reddit/add_post}" method="POST">
    <div class="form-group">
        <label for="descripton">Description:</label>
        <input name="description" type="text" class="form-control" id="descripton">
    </div>
    <div class="form-group">
        <label for="link">URL:</label>
        <input name="link" type="url" class="form-control" id="Link">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>