<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit app #</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>

    <style>
        .pagination {
            display: inline-block;
        }
        .pagination a {
            color: black;
            float: left;
            padding: 10px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }
        .pagination a.active {
            background-color: #000000;
            color: white;
        }
        .pagination a:hover:not(.active) {background-color: #ddd;}
    </style>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Reddit</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/reddit/">Trending posts</a></li>
            <li><a href="/reddit/add_post">Add new post</a></li>
        </ul>
    </div>
</nav>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Votes</th>
        <th scope="col">
            Action
        </th>
        <th scope="col">Description</th>
        <th scope="col">Link</th>
    </tr>
    </thead>
    <tbody>
        <th scope="row"></th>
    <tr th:each="post: ${posts}">
        <td>
            <span class="badge" th:text="${post.getVotes()}">  </span>
        </td>
        <td>
            <a class="btn btn-success btn-xs" th:href="'/reddit/' + ${post.getId()} + '/up'">Up Vote</a>
            <a class="btn btn-danger btn-xs" th:href="'/reddit/' + ${post.getId()} + '/down'">Down Vote</a>
        </td>
        <td th:text="${post.getDescription()}"></td>
        <td>
            <a th:href= "@{|${post.getLink()}|}">Link</a>
        </td>
    </tr>
    </tbody>
</table>

<div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
</div>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>