<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reddit app #</title>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="utf-8"/>

    <style>
    </style>
</head>
<body>
<h1>Reddit copy page</h1>

<table class="table">
    <thead>

    <tr>
        <th scope="col">Votes</th>
        <th scope="col">+</th>
        <th scope="col">-</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row"></th>
    <tr th:each="post: ${posts}">
        <td th:text="${post.getVotes()}"></td>
        <td>+</td>
        <td>-</td>
        <td th:text="${post.getDescription()}"></td>
    </tr>
    </tr>
    </tbody>
</table>

<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>